* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}



.main {
    visibility: hidden;
    width: 100%;
    height: 300px;
    border-bottom: #39e75f 1px solid;
    margin-bottom: 1rem;

}

button {
    cursor: pointer;
}



/* -------------------------NAV BAR---------------------------- */


nav {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    width: 100%;
    height: 50px;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 3rem;
}


.login {
    width: 25%;
    margin-right: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.input {
    text-align: center;

    border-radius: 25px;
    border: none;
    background-color: gainsboro;
}


.login--enter {
    border-radius: 28px;
    font-weight: bold;
    font-size: 28px;
    background-color: transparent;
    border: none;
}



/* -------------------HIDDEN - BAR ----------------------- */
.hidden--bar {
    padding-left: 2rem;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;

    visibility: visible;


    position: absolute;
    top: 0%;

}


.hidden--bar a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* ------------------------BANK SECTION------------------ */

.bank--section {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 25px;



}


.avaible--section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.personal {
    position: relative;
    width: 25%;
    height: 150px;
    align-self: center;
}

.personal-content {
    position: relative;
    border: 2px solid green;
    width: 25%;
    text-align: center;
    height: 125px;
}

.transfer,
.zloz,
.zloz--0 {
    align-items: flex-end;
    margin-top: 25px;
}

.zloz,
.zloz--0 {
    background-color: #39e75f;
    border: transparent;
    width: 50%;
    height: 25%;
}


/* --------- HISTORY-SECTION------------------ */

.history--section {
    /* visibility: hidden; */
    width: 80%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.hisotry--h2 {}


.history--movements {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
}

.movement {
    padding: 2.25rem 4rem;
    align-items: center;
    border-bottom: 1px solid #eee;


    display: flex;
    justify-content: space-between;
}