* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;

    scroll-behavior: smooth;
}


body {
    background-color: whitesmoke;

}


.main {
    visibility: hidden;
    width: 100%;
    height: 300px;
    border-bottom: #39e75f 1px solid;
    margin-bottom: 1rem;

}

button {
    cursor: pointer;
}

button:hover {
    color: white;
}

p,
h1,
h2,
h3,
h4,
a {
    font-family: sans-serif;
}

/* -------------------------NAV BAR---------------------------- */


nav {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    width: 100%;
    height: 50px;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 3rem;
}


.login {
    width: 25%;
    margin-right: 7rem;
    display: flex;
    justify-content: space-evenly;
}

.input {
    text-align: center;

    border-radius: 25px;
    border: none;
    background-color: gainsboro;
}


.login--enter {
    border-radius: 28px;
    font-weight: bold;
    font-size: 28px;
    background-color: transparent;
    border: none;
}



/* -------------------HIDDEN - BAR ----------------------- */
.hidden--after {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: visible;


    position: absolute;
    top: 0%;


    /* background-color: #39e75f; */
    width: 95%;

}


.hidden--after a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.hidden--bar {
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 3rem;

    width: 50%;
    /* background-color: #ff1744; */

}

.active {
    font-weight: bold;
    border: solid 1px;
    width: 10rem;
    height: 1.5rem;
    border-radius: 25px;
    text-align: center;
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}


.hidden--bar a:hover {
    font-weight: bold;
}

.hidden--bar button:hover {
    color: white;
}

.slow {
    visibility: hidden;
}

/* ------------------------BANK SECTION------------------ */

.bank--section {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 25px;



}


.avaible--section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.personal {
    position: relative;
    width: 25%;
    height: 150px;
    align-self: center;
}

.personal button {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    width: 50%;
    height: 20%;
    border: none;

}

.personal-content {
    position: relative;
    border: 2px solid green;
    width: 25%;
    text-align: center;
    height: 125px;
}

.transfer,
.zloz,
.zloz--0 {
    align-items: flex-end;
    margin-top: 25px;
}

.zloz,
.zloz--0 {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    border: transparent;
    width: 50%;
    height: 25%;
}


/* --------- HISTORY-SECTION------------------ */

.history--section {
    visibility: hidden;
    width: 80%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.history--movements {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /* overflow: scroll; */
}

.movement {
    padding: 2.25rem 4rem;
    align-items: center;
    border-bottom: 1px solid #eee;


    display: flex;
    justify-content: space-between;
}


.movement--type--wpłata {

    background-image: linear-gradient(to top left, #39b385, #9be15d);
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 20px;
    width: 10%;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    /* display: flex; */
    /* justify-content: flex-start; */
}

.movement--type--wypłata {

    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    border-radius: 20px;
    color: #fff;
    width: 10%;
    text-transform: uppercase;
}


.movement--value {
    margin-left: 65%;
    font-weight: bold;
    font-size: 25px;
}

.pln {
    text-transform: uppercase;
    font-size: 10px;
}



/* ----------------------MODALS ------------- */
.hidden-modal {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}